<a href="https://colab.research.google.com/github/coderanandmaurya/AI-LOGIC/blob/main/Student_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
#pip install pyDatalog

In [25]:
from pyDatalog import pyDatalog

In [26]:
pyDatalog.create_terms("X,Y,Z,Ram,Ravi,Tarun,Priya,Marks,Passed,Failed,grades")

In [27]:
+Marks("Ram","40") #create Knowledge Base or known as fact

In [28]:
+Marks("Ravi","30")

In [29]:
+Marks("Raju","76")

In [30]:
+Marks("Tarun","20")

In [31]:
+Marks("Priya","90")

In [32]:
+grades("Ravi","F")

In [33]:
+grades("Tarun","F")

In [34]:
+grades("Ram","P")

In [35]:
+grades("Raju","P")

In [36]:
+grades("Priya","P")

In [37]:
Failed(X) <= grades(X,"F") #Ruled for faied students

Failed(X) <= grades(X,'F')

In [38]:
Passed(X) <= grades(X,"P") #Ruled for faied students

Passed(X) <= grades(X,'P')

In [40]:
print(Marks(X,Y)) #List student with Marks

X     | Y
------|---
Priya | 90
Tarun | 20
Raju  | 76
Ravi  | 30
Ram   | 40
ram   | 40

In [43]:
print(Marks(X,"90")) #student with 90 Marks

X
-----
Priya

In [44]:
print(Marks("Ram",Y)) #Ram with Y Marks

Y
--
40

In [46]:
print(grades(X,Y)) #student with Grades

X     | Y
------|--
Priya | P
Raju  | P
Ram   | P
Tarun | F
Ravi  | F

In [48]:
print(Failed(X)) #list of failed student

X
-----
Tarun
Ravi

In [50]:
print(Passed(X)) #list of Passed student

X
-----
Ram
Priya
Raju