<a href="https://colab.research.google.com/github/coderanandmaurya/AI-LOGIC/blob/main/Tokenization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tokenization= to separate each word form sentence

In [ ]:
TEXT=""" today is a lab class for tokenizing the thing, we r doing the practical in lab"""
TEXT.split()

['today',
 'is',
 'a',
 'lab',
 'class',
 'for',
 'tokenizing',
 'the',
 'thing,',
 'we',
 'r',
 'doing',
 'the',
 'practical',
 'in',
 'lab']

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
TEXT=""" today's is a lab: class for, tokenizing the thing, , we r doing the practical in lab"""

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
tokens = nltk.word_tokenize(TEXT)

In [ ]:
print(tokens)

['today', "'s", 'is', 'a', 'lab', ':', 'class', 'for', ',', 'tokenizing', 'the', 'thing', ',', ',', 'we', 'r', 'doing', 'the', 'practical', 'in', 'lab']

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
texts = [ 
"""Here’s to the crazy ones, the misfits, the rebels, the  troublemakers, the round pegs in the square holes. The ones who see  things differently — they’re not fond of rules. You can quote them,  disagree with them, glorify or vilify them, but the only thing you  can’t do is ignore them because they change things. They push the  human race forward, and while some may see them as the crazy ones,  we see genius, because the ones who are crazy enough to think that  they can change the world, are the ones who do.""" , 
'I choose a lazy person to do a hard job. Because a lazy person  will find an easy way to do it.' 
]

df = pd.DataFrame({'author': ['jobs', 'gates'], 'text':texts})

In [ ]:
df

  author                                               text
0   jobs  Here’s to the crazy ones, the misfits, the reb...
1  gates  I choose a lazy person to do a hard job. Becau...

In [ ]:
# Create a Vectorizer Object
vectorizer = CountVectorizer()
  
vectorizer.fit(texts)

CountVectorizer()

In [ ]:
# Printing the identified Unique words along with their indices
print("Vocabulary: ", vectorizer.vocabulary_)

Vocabulary:  {'here': 21, 'to': 56, 'the': 50, 'crazy': 9, 'ones': 34, 'misfits': 31, 'rebels': 43, 'troublemakers': 57, 'round': 44, 'pegs': 37, 'in': 25, 'square': 48, 'holes': 22, 'who': 62, 'see': 46, 'things': 54, 'differently': 10, 'they': 52, 're': 42, 'not': 32, 'fond': 16, 'of': 33, 'rules': 45, 'you': 66, 'can': 6, 'quote': 40, 'them': 51, 'disagree': 11, 'with': 64, 'glorify': 19, 'or': 36, 'vilify': 58, 'but': 5, 'only': 35, 'thing': 53, 'do': 12, 'is': 26, 'ignore': 24, 'because': 4, 'change': 7, 'push': 39, 'human': 23, 'race': 41, 'forward': 17, 'and': 1, 'while': 61, 'some': 47, 'may': 30, 'as': 3, 'we': 60, 'genius': 18, 'are': 2, 'enough': 14, 'think': 55, 'that': 49, 'world': 65, 'choose': 8, 'lazy': 29, 'person': 38, 'hard': 20, 'job': 28, 'will': 63, 'find': 15, 'an': 0, 'easy': 13, 'way': 59, 'it': 27}

In [ ]:
# Encode the Document
vector = vectorizer.transform(texts)

In [ ]:
# Summarizing the Encoded Texts
print("Encoded Document is:")
print(vector.toarray())

Encoded Document is:
[[ 0  1  2  1  2  1  3  2  0  3  1  1  2  0  1  0  1  1  1  1  0  1  1  1
   1  1  1  0  0  0  1  1  1  1  5  1  1  1  0  1  1  1  1  1  1  1  3  1
   1  1 13  5  4  1  2  1  2  1  1  0  1  1  3  0  1  1  2]
 [ 1  0  0  0  1  0  0  0  1  0  0  0  2  1  0  1  0  0  0  0  1  0  0  0
   0  0  0  1  1  2  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  2  0  0  1  0  0  0  1  0  0  0]]

In [ ]:
import spacy
spacy.lang.es

AttributeError: ignored